<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Request Approval</h3>

    <form method="POST" action="/approval-action">
        <input type="hidden" name="token" value="{{ token }}">
        <input type="hidden" name="action" value="{{ action }}">

        {% if action == 'APPROVE' %}
        <label>Next Approver Email</label><br>
        <input type="email" name="next_email" required><br><br>

        <button class="primary-btn">Approve & Send</button>

        {% else %}
        <label>Remark (Mandatory)</label><br>
        <textarea name="remark" required></textarea><br><br>

        <button class="danger-btn">Reject</button>
        {% endif %}
    </form>


</body>

</html>